<p>view works!</p>
<h3 [innerText]='item.sname'></h3>
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]=item.sname></td>
    </tr>
    <tr>
        <td>age</td>
        <td><input type="number" [value]=item.age></td>
    </tr>
    <tr>
        <td>DOB</td>
        <td><input type="text" [value]=item.dob></td>
    </tr>
    <tr>
        <td>ID</td>
        <td><input type="number" [value]=item.sid></td>
    </tr>
    <tr>
        <td>STD</td>
        <td><input type="text" [value]=item.std></td>
    </tr>
</table>