<p>view-customer works!</p>

<h3 [innerText]='item.name'></h3>
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]=item.name></td>
    </tr>
    <tr>
        <td>Mail</td>
        <td><input type="text" [value]=item.mail></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" [value]=item.city></td>
    </tr>
    
    <tr>
        <td>Address</td>
        <td><input type="text" [value]=item.address></td>
    </tr>
</table>

<a [href]='url'>google</a>